.login-form {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    width: 50%;
    padding: 30px;
    border: 1px solid darkgray;
    border-radius: 8px;
}

.login-form > * {
    width: 100%;
    margin-bottom: 18px;
    padding: 15px;
    border: none;
}

.login-input {
    border-bottom: 1px solid darkgray;
}

.login-input:active {
    border: none
}

.login-btn {
    cursor: pointer;
    border-radius: 8px;
}

.login-btn:hover {
    background: #888888;
    color: white;
}