.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    max-width: 35%;
    padding: 30px;
    border: 1px solid darkgray;
    border-radius: 8px;
}

.login-form > * {
    width: 100%;
    margin-bottom: 18px;
    padding: 15px;
    border: none;
}

.login-input {
    border-bottom: 1px solid darkgray;
}

.login-btn {
    border-radius: 8px;
}