.events-wrapper {
    background: #F0F5FF;
    height: 100vh;
    padding: 15px;
}

.orders-header {
    text-align: center;
}

table, th, td {
    table-layout: fixed;
    border-collapse: collapse;
    /*border: 1px solid black;*/
    text-align: center;

}

table {
    margin: 15px auto;
    background: #F0F5FF;
}

.table-head {
    background: #FAFAFA;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

tr, td {
    padding: 10px;
}

.td-sortable {
    cursor: pointer;
}

.sort-icon {
    display: block;
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-top: -18px;
}

.completed {
    background: #B7EB8F;
    color: #52C41A;
}