table, th, td {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

table {
    margin: 15px auto;
}

tr, td {
    padding: 10px;
}

.td-sortable {
    cursor: pointer;
}

.sort-icon {
    display: block;
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-top: -18px;
}

.completed {
    background: rgb(143, 188, 143, 0.3);
}