table, th, td {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

table {
    margin: 15px auto;
}

tr, td {
    padding: 10px;
}

.completed {
    background: darkseagreen;
}