@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

@import 'styles/normalize.css';
@import 'styles/typography.css';
@import 'styles/loginForm.css';
@import 'styles/table.css';

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
